<a href="https://colab.research.google.com/github/caseynjustus/document-ai-samples/blob/main/Copy_of_%5Bcolab_3%5D_Feature_Extraction_and_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Setup

In [ ]:
import os
from google.cloud import bigquery
import pandas as pd
from google.colab import syntax

In [ ]:
%%writefile credentials.json
{
  "type": "service_account",
  "project_id": "vs-workshop",
  "private_key_id": "4bab614fdc34c8503023086bc62e6567eb91445b",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC1N+mMoymkzsd0\nD3xRVvbv5F2H8EPvuX/sDQUlZGDH3NKcxFmlRTwWmh/iZfx2TNzRb2pwIYV0RRPM\nf8kEO9pSEfn0nKrUp4g8qyBZW78Oxj1KukRY9edl625Lc/CtLAb4mWprxyKZn1Q6\nEYLZOJjA9lds4EkvOg3RdAfKKnMM5BRaDxhXz6FR+XAh2XUcydATE4CQoxVdJ/I2\n+aj0jxiEiIIVzdskr9wYYmzc6bvsu0oIP7/i26sxBEEmwAMvzhGNOwUdt9YCYYrb\n35x6dZ0Dq1FSRkirVJrnk1DHFJ9Hj6+YOgmFBz/sqOIuhRmHkqCg0YeORs8Unezg\nEDPygsi5AgMBAAECggEABwYWYiYyT2IY2rOdc8khO9HP+rx6I5ze24szJXx/IEv7\nqUoWd+iHsFATt4qQpxSqU99DwroX4jZpsqnKxKRdvUPXWm7mk6S1K/XNhI0g6f2O\nw1pWGxUX3YxLG3dQTyP3VrQaivgeTBI/+Vqzpb/y8rqxj4WfbIpNXg6HXUN5L1kI\nh+ujetefUVy1C47SbgLIfUT2loDltZq7FI0sYHT/AzU514PlYE/QR8andINdgTHX\nQ3isc4HRQ36GSMnduopEj5KFCVasnboHG7KF78wHnp4UMVwcl6KeKoIPqutsjBLh\nresyIfoiCuroHuYpNO77UItDd4fB7w0iLz4P/tCRUQKBgQDf2MWJrClog0eLTpLT\nf5SkTvOtsr58TRz0A0/k6zVQJgmy84bQvpBbeQ7yCFnq1Y6BmgiYLrDnUqZ2AY6/\ngM3V+BZXAhkC+D6BN7C+3/t71PdPnlQ8pGJ4gFgKkx4TLDK0J0kYp+HzH7j3nViR\nLc1+L5kmYncbzWLozTNqiJSNEQKBgQDPP5+Cc9sd1knyM+BtMulBrlW7QweV82oG\nWW5WKG4BV02cE20IsJt7Ef93ibx/11t/8vcAlPxQniBWrBZQ4gjz7gZ44kQ89ZaD\nYF5SFpgSBmhwXkMoDrw8XgMiH/LSWjvC71j35rSy5pDzPckwMb2NBGFCI2lCMcUJ\n9O4sR/khKQKBgHWyifMghclBNa4Gy2bPbz2Rkcjj8gpzlWSsFScdkTOqPHFOYLWD\nbW3bUkNqprS2Qy7b6ebyreuDZqknmoIQ3KnDvyNSpAoOsvbIbHOAW7+5s6u2aT5V\nhL0tZp1wy2BzXdmhympfY4utQ1lW70mulpzhtBodrdj9fiNAOeerFsixAoGAKznE\n5iuN5xI7yBWD2KLGvdlDrlQTr/XeBkb+2V+DWipAWK5AjpBvTWL6mo8SzsM3JV+i\nnu90FMh2TD2GRgZvAZmCphHjU6eRZgNiiNKHkzLc85rlfORd5GVjV+m79p21Wzoa\nn1HyHGI0l1cqsC+frlrcgjPqj1DcHPCGAJxeXMkCgYEAiF0kcZTQK0Mrirl4mxdx\nb/Y3ZXniCeTSuxheu46FeyNMgwuRHELRGrFPmqy4asT6IILLx5qMvknDl16d9tnH\ncgDYRm5HSFRj0JOFeu9sPckLKjo/hE9SbPP/iRySKkyp/uH/yGJIQ2TkfnzarEY9\n8TfVE/sz7r5COU8F1TJ5pEo=\n-----END PRIVATE KEY-----\n",
  "client_email": "oculi-969@vs-workshop.iam.gserviceaccount.com",
  "client_id": "115156813423414561364",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/oculi-969%40vs-workshop.iam.gserviceaccount.com"
}

Writing credentials.json

In [ ]:
#@title Project Variables { run: "auto", display-mode: "form" }
project_id = 'vs-workshop' #@param {type:"string"}
dataset_name = "occulus_demo" #@param {type:"string"}
#@markdown Enter a file path for the json key downloaded from GCP:
json_key_file = "r'vs-key.json'" #@param {type:"string"}

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r'credentials.json'
client = bigquery.Client(project=project_id)

# Helper Functions

In [ ]:
from IPython.display import Image, display, IFrame
from IPython.core.display import HTML

def display_creative(url):
  extension = url.split('.')[-1]
  if extension == 'html':
    display(IFrame(src=url, width=300, height=250))
  else:
    display(Image(url=url))

def display_sample(subset, sample_size=5):
  sample = subset.sample(sample_size)
  sample_urls = sample['url'].tolist()
  sample_cids = sample['creative_id'].tolist()
  for i in range(sample_size):
    print('Creative ID:', sample_cids[i])
    print('URL:', sample_urls[i])
    display_creative(sample_urls[i])
    print()  

def fill_sql(sql):
  return sql.format(project=project_id, dataset=dataset_name)

def sql_to_df(sql):
  sql = fill_sql(sql)
  return client.query(sql).to_dataframe()

def sql_to_view(sql, view_name):
  sql = fill_sql(sql)
  view_id = '{project}.{dataset}.{view_name}'.format(
      project=project_id, dataset=dataset_name,
      view_name=view_name
  )
  view = bigquery.Table(view_id)
  view.view_query = sql
  client.delete_table(view, not_found_ok=True)
  return client.create_table(view)

def sql_to_pivot_df(sql, col_name, view_name, prominence, limit='20'):
  sql = sql.format(
      project=project_id, dataset=dataset_name,
      col_name=col_name, view_name=view_name,
      prominence=prominence, limit=limit
  )
  df = sql_to_df(sql)
  features = pd.pivot_table(
      df, index='creative_id', values='prominence',
      columns=col_name
  )
  features.reset_index(inplace=True)
  features.fillna(0, inplace=True)
  return features

# Flattening

## Sizes

In [ ]:
sql = syntax.sql('''
SELECT
  creative_id,
  full_url AS url,
  CAST(SPLIT(creative_pixel_size, 'x')[OFFSET(0)] AS INT64) AS width,
  CAST(SPLIT(creative_pixel_size, 'x')[OFFSET(1)] AS INT64) AS height
FROM `{project}.{dataset}.creative_urls`
''')

In [ ]:
sql_to_df(sql).head(3)

,creative_id,url,width,height
0,1,https://s.abcnews.com/images/Lifestyle/ht_vict...,432,243

In [ ]:
sql_to_view(sql, 'creative_sizes')

Table(TableReference(DatasetReference('vs-workshop', 'occulus_demo'), 'creative_sizes'))

## Labels

In [ ]:
sql = syntax.sql('''
SELECT
  creative_id,
  frame_id,
  description AS label,
  score
FROM
  `{project}.{dataset}.label_annotations`
  JOIN UNNEST(frames)
  JOIN UNNEST(label_annotations)
''')

In [ ]:
sql_to_df(sql).head(3)

NotFound: ignored

In [ ]:
sql_to_view(sql, 'flat_labels')

Table(TableReference(DatasetReference('oculi-v2-dev', 'demoverse'), 'flat_labels'))

## Objects

In [ ]:
sql = syntax.sql('''
SELECT
  creative_id,
  frame_id,
  name AS object,
  score,
  (
    (MAX(v.x) - MIN(v.x)) -- width of shape
    *
    (MAX(v.y) - MIN(v.y)) -- height of shape
  ) AS area_fraction
FROM
  `{project}.{dataset}.localized_object_annotations`
  JOIN UNNEST(frames)
  JOIN UNNEST(localized_object_annotations)
  JOIN UNNEST(boundingPoly.normalizedVertices) AS v
GROUP BY 1,2,3,4
''')

In [ ]:
sql_to_df(sql).head(3)

   creative_id frame_id object     score  area_fraction
0    131648816    35_f2  Couch  0.868540       0.102187
1    131648816    35_f2  Chair  0.847021       0.016982
2    131648816    35_f2  Chair  0.803522       0.035728

In [ ]:
sql_to_view(sql, 'flat_objects')

Table(TableReference(DatasetReference('oculi-v2-dev', 'demoverse'), 'flat_objects'))

## Words

In [ ]:
sql = syntax.sql('''
SELECT
  creative_id,
  frame_id,
  LOWER(description) AS word,
  (
    (MAX(v.x) - MIN(v.x)) / ANY_VALUE(width)
    *
    (MAX(v.y) - MIN(v.y)) / ANY_VALUE(height)
  ) AS area_fraction
FROM
  `{project}.{dataset}.text_annotations`
  JOIN UNNEST(frames)
  JOIN UNNEST(text_annotations)
  JOIN UNNEST(boundingPoly.vertices) AS v
  JOIN `{project}.{dataset}.creative_sizes` USING (creative_id)
WHERE
  -- Exclude small and common words
  LENGTH(description) > 2
  AND LOWER(description) NOT IN ('for', 'the')
GROUP BY 1,2,3
''')

In [ ]:
sql_to_view(sql, 'flat_words')

Table(TableReference(DatasetReference('oculi-v2-dev', 'demoverse'), 'flat_words'))

In [ ]:
sql_to_df(sql).head(3)

   creative_id frame_id  word  area_fraction
0    145926515    52_f3  help       0.010933
1    145926515    52_f3  find       0.007467
2    145926515    52_f3  your       0.029120

## Colors

In [ ]:
sql = syntax.sql('''
SELECT
  creative_id,
  frame_id,
  ROW_NUMBER() OVER (PARTITION BY creative_id, frame_id) AS color,
  color.red,
  color.green,
  color.blue,
  score,
  pixelFraction AS area_fraction
FROM
  `{project}.{dataset}.image_properties_annotation`
  JOIN UNNEST(frames)
  JOIN UNNEST(image_properties_annotation.dominantColors.colors)
''')

In [ ]:
sql_to_df(sql).head(3)

   creative_id frame_id  color    red  green   blue     score  area_fraction
0    135851252    41_f6      1  111.0  111.0  111.0  0.437543       0.020261
1    135851252    41_f6      3  150.0  150.0  150.0  0.120353       0.007298
2    135851252    41_f6      4  197.0  197.0  197.0  0.052175       0.004575

In [ ]:
sql_to_view(sql, 'flat_colors')

Table(TableReference(DatasetReference('oculi-v2-dev', 'demoverse'), 'flat_colors'))

## Faces

In [ ]:
sql = syntax.sql('''
SELECT
  creative_id,
  frame_id,
  ROW_NUMBER() OVER (PARTITION BY creative_id, frame_id) AS face,
  headwearLikelihood,
  angerLikelihood,
  surpriseLikelihood,
  sorrowLikelihood,
  joyLikelihood,
  panAngle,
  rollAngle,
  tiltAngle,
  detectionConfidence AS score,
  (
    (MAX(v.x) - MIN(v.x)) / ANY_VALUE(width)
    *
    (MAX(v.y) - MIN(v.y)) / ANY_VALUE(height)
  ) AS area_fraction
FROM
  `{project}.{dataset}.face_annotations`
  JOIN UNNEST(frames)
  JOIN UNNEST(face_annotations)
  JOIN UNNEST(boundingPoly.vertices) AS v
  JOIN `{project}.{dataset}.creative_sizes` USING (creative_id)
GROUP BY 1,2,4,5,6,7,8,9,10,11,12
''')

In [ ]:
sql_to_df(sql).head(3)

   creative_id frame_id  face  ... tiltAngle     score area_fraction
0    114997467    23_f1     1  ... -2.735579  0.827832       0.27872
1    114997467    23_f0     1  ... -2.735579  0.827832       0.27872
2    114997467    23_f5     1  ... -2.735579  0.827832       0.27872

[3 rows x 13 columns]

In [ ]:
sql_to_view(sql, 'flat_faces')

Table(TableReference(DatasetReference('oculi-v2-dev', 'demoverse'), 'flat_faces'))

## Logos

In [ ]:
sql = syntax.sql('''
SELECT
  creative_id,
  frame_id,
  description AS logo,
  score,
  (
    (MAX(v.x) - MIN(v.x)) / ANY_VALUE(width)
    *
    (MAX(v.y) - MIN(v.y)) / ANY_VALUE(height)
  ) AS area_fraction,
  (MAX(v.x) + MIN(v.x)) / 2 / ANY_VALUE(width) AS x_fraction,
  (MAX(v.y) + MIN(v.y)) / 2 / ANY_VALUE(height) AS y_fraction,
FROM
  `{project}.{dataset}.logo_annotations`
  JOIN UNNEST(frames)
  JOIN UNNEST(logo_annotations)
  JOIN UNNEST(boundingPoly.vertices) AS v
  JOIN `{project}.{dataset}.creative_sizes` USING (creative_id)
GROUP BY 1,2,3,4
''')

In [ ]:
sql_to_df(sql).head(3)

   creative_id frame_id    logo  ...  area_fraction  x_fraction  y_fraction
0    145926515    52_f3  Google  ...       0.043307    0.103333       0.128
1    145926515    52_f4  Google  ...       0.044053    0.103333       0.130
2    145926515    52_f5  Google  ...       0.043307    0.103333       0.128

[3 rows x 7 columns]

In [ ]:
sql_to_view(sql, 'flat_logos')

Table(TableReference(DatasetReference('oculi-v2-dev', 'demoverse'), 'flat_logos'))

# Feature Extraction

## Colors

In [ ]:
sql = syntax.sql('''
WITH scaled_colors AS (
  SELECT
    creative_id,
    frame_id,
    color,
    red / 255.0 AS red,
    green / 255.0 AS green,
    blue / 255.0 AS blue,
    -- definition of perceived brightness:
    -- https://en.wikipedia.org/wiki/Relative_luminance
    (0.2126*red + 0.7152*green + 0.0722*blue) / 255.0 AS brightness,
    area_fraction
  FROM `{project}.{dataset}.flat_colors`
)

SELECT
  creative_id,
  SUM(red * area_fraction) / COUNT(frame_id) AS avg_redness,
  SUM(green * area_fraction) / COUNT(frame_id) AS avg_greenness,
  SUM(blue * area_fraction) / COUNT(frame_id) AS avg_blueness,
  SUM(brightness * area_fraction) / COUNT(frame_id) AS avg_brightness,
  MAX(red * area_fraction) AS max_redness,
  MAX(green * area_fraction) AS max_greenness,
  MAX(blue * area_fraction) AS max_blueness,
  MAX(brightness * area_fraction) AS max_brightness
FROM scaled_colors
GROUP BY 1
''')

In [ ]:
df_colors = sql_to_df(sql)
df_colors.head(3)

   creative_id  avg_redness  ...  max_blueness  max_brightness
0    116446143     0.184414  ...           1.0             1.0
1    145926515     0.114429  ...           1.0             1.0
2    131648816     0.060015  ...           1.0             1.0

[3 rows x 9 columns]

## Faces

In [ ]:
sql = syntax.sql('''
CREATE OR REPLACE FUNCTION `{project}.{dataset}.likelihoodToNumber`(likelihood STRING) AS (
CASE
  WHEN likelihood = 'VERY_LIKELY' THEN 1.0
  WHEN likelihood = 'LIKELY' THEN 0.7
  WHEN likelihood = 'POSSIBLE' THEN 0.5
  ELSE 0
END
);
''')

In [ ]:
sql_to_df(sql).head(3)

Empty DataFrame
Columns: []
Index: []

In [ ]:
sql = syntax.sql('''
WITH scaled_faces AS (
  SELECT
    creative_id,
    frame_id,
    face,
    `{project}.{dataset}.likelihoodToNumber`(headwearLikelihood) AS headwear,
    `{project}.{dataset}.likelihoodToNumber`(angerLikelihood) AS anger,
    `{project}.{dataset}.likelihoodToNumber`(surpriseLikelihood) AS surprise,
    `{project}.{dataset}.likelihoodToNumber`(sorrowLikelihood) AS sorrow,
    `{project}.{dataset}.likelihoodToNumber`(joyLikelihood) AS joy,
    ABS(panAngle) / 180.0 + ABS(rollAngle) / 180.0  + ABS(tiltAngle) / 180.0 AS angular_deviation,
    score,
    area_fraction
  FROM `{project}.{dataset}.flat_faces`
)

SELECT
  creative_id,
  COUNT(face) AS num_faces,
  MAX(headwear) AS has_headwear_face,
  MAX(anger) AS has_angry_face,
  MAX(surprise) AS has_surprised_face,
  MAX(sorrow) AS has_sad_face,
  MAX(joy) AS has_happy_face,
  MAX(area_fraction) AS largest_face_area,
  1 - MIN(angular_deviation) AS has_front_facing_face
FROM scaled_faces
GROUP BY 1
''')

In [ ]:
df_faces = sql_to_df(sql)
df_faces.head(3)

   creative_id  num_faces  ...  largest_face_area  has_front_facing_face
0    114997467          7  ...            0.27872               0.976075

[1 rows x 9 columns]

## Logos

In [ ]:
sql = syntax.sql('''
WITH flat_logos_with_prominence AS (
  SELECT
    creative_id,
    frame_id,
    logo,
    (score * area_fraction) AS prominence,
    x_fraction,
    y_fraction
  FROM `{project}.{dataset}.flat_logos` LIMIT 1000
),

prominent_logos AS (
  SELECT
    creative_id,
    logo,
    ROW_NUMBER() OVER (PARTITION BY creative_id ORDER BY prominence DESC) AS rank,
    x_fraction,
    y_fraction
  FROM flat_logos_with_prominence
)

SELECT
  creative_id,
  IF(x_fraction < 0.5 AND y_fraction < 0.5, 1, 0) AS has_logo_top_left,
  IF(x_fraction > 0.5 AND y_fraction < 0.5, 1, 0) AS has_logo_top_right,
  IF(x_fraction < 0.5 AND y_fraction > 0.5, 1, 0) AS has_logo_bottom_left,
  IF(x_fraction > 0.5 AND y_fraction > 0.5, 1, 0) AS has_logo_bottom_right
FROM prominent_logos
WHERE rank = 1
''')

In [ ]:
df_logos = sql_to_df(sql)
df_logos.head(3)

   creative_id  has_logo_top_left  ...  has_logo_bottom_left  has_logo_bottom_right
0     69538112                  0  ...                     0                      1
1    114997371                  0  ...                     0                      1
2     63346142                  0  ...                     0                      1

[3 rows x 5 columns]

## Labels (one-hot query)

In [ ]:
one_hot_sql = syntax.sql('''
WITH
  source AS (
    SELECT
      creative_id,
      'has_{col_name}_' || LOWER(REGEXP_REPLACE(REPLACE({col_name},' ','_'), r'[;:*?#"<>|()&,\.]', ''))
        AS col,
      {prominence} AS prominence
    FROM `{project}.{dataset}.{view_name}`
    GROUP BY 1, 2
  )
SELECT
  creative_id,
  col AS {col_name},
  prominence
FROM
  source
INNER JOIN
  (
    SELECT col, MAX(prominence)
    FROM source
    GROUP BY 1
    ORDER BY MAX(prominence) DESC
    LIMIT {limit} 
  )
USING (col)
''')

In [ ]:
df_labels = sql_to_pivot_df(
    one_hot_sql,
    col_name='label',
    view_name='flat_labels',
    prominence='MAX(score)',
    limit='20'
)
df_labels.head(3)

label  creative_id  ...  has_label_wheel
0         63346142  ...              0.0
1         63370865  ...              0.0
2         63371542  ...              0.0

[3 rows x 21 columns]

## Words

In [ ]:
df_words = sql_to_pivot_df(
    one_hot_sql,
    col_name='word',
    view_name='flat_words',
    prominence='MAX(area_fraction)',
    limit='30'
)
df_words.head(3)

word  creative_id  has_word_335miles  ...  has_word_texturizing  has_word_waves
0        63346142                0.0  ...                   0.0             0.0
1        63370865                0.0  ...                   0.0             0.0
2        63371542                0.0  ...                   0.0             0.0

[3 rows x 31 columns]

## Objects

In [ ]:
df_objects = sql_to_pivot_df(
    one_hot_sql,
    col_name='object',
    view_name='flat_objects',
    prominence='SUM(score * area_fraction) / COUNT(DISTINCT frame_id)',
    limit='30'
)
df_objects.head(3)

object  creative_id  has_object_animal  ...  has_object_watch  has_object_wheel
0          63346142                0.0  ...          0.026117               0.0
1          63370865                0.0  ...          0.023872               0.0
2          63371542                0.0  ...          0.023872               0.0

[3 rows x 27 columns]

## Sizes

In [ ]:
sql = syntax.sql('''
  SELECT * FROM `{project}.{dataset}.creative_sizes`
''')

In [ ]:
df_all_creatives = sql_to_df(sql)
df_all_creatives.head(3)

   creative_id  ... height
0    134058973  ...    250
1    134761814  ...    250
2    135751171  ...    250

[3 rows x 4 columns]

# Full Feature Table

In [ ]:
df_features = pd.merge(df_all_creatives,
                           df_colors, how='outer', on='creative_id')
df_features = pd.merge(df_features,
                           df_faces, how='outer', on='creative_id')
df_features = pd.merge(df_features,
                           df_logos, how='outer', on='creative_id')
df_features = pd.merge(df_features,
                           df_objects, how='outer', on='creative_id')
df_features = pd.merge(df_features,
                           df_words, how='outer', on='creative_id')
df_features = pd.merge(df_features,
                           df_labels, how='outer', on='creative_id')
df_features.fillna(0, inplace=True)
df_features.head(3)

   creative_id  ... has_label_wheel
0    134058973  ...             0.0
1    134761814  ...             0.0
2    135751171  ...             0.0

[3 rows x 100 columns]

## Exploration

In [ ]:
subset = df_features[df_features['num_faces'] > 0]
display_sample(subset, 1)

Creative ID: 114997467
URL: https://s0.2mdn.net/sadbundle/867817588493647872/02_3_cbalm_particles_display_static/index.html

## Merge with Performance Data

Steps taken in the Campaign Manager UI:
1. Go to Campaign Manager > Reporting and Attribution > enter your account ID
2. Create a new Standard report including, at minimum, *Creative ID* and performance metrics (*Impressions, Clicks, Active View: Viewable Impressions, Active View: Measureable Impressions*)
  - Don't include *Date* as a dimension
  - Set the *Date Range* to the maximum allowed (24 months)
3. Run the report, download as CSV, and upload to BigQuery as a table called `performance` in the same dataset as the Oculi data
  - Set *Number of errors allowed* to 2
  - Set *Header rows to skip* to the line number of the column headers in the CSV (usually 11, but depends on report parameters)

In [ ]:
sql = syntax.sql('''
SELECT
  CAST(Creative_ID AS INT64) AS creative_id,
  -- Metric we're using: adjusted viewable CTR
  Clicks / (Impressions * (Active_View__Viewable_Impressions / Active_View__Measurable_Impressions)) AS av_ctr
FROM `{project}.{dataset}.performance`
WHERE
  -- Hard Requirements
  Impressions > 0
  AND Active_View__Measurable_Impressions > 0
  AND Active_View__Viewable_Impressions > 0
  AND Creative_ID NOT LIKE "%Grand Total%"
  -- Soft Requirements
  AND Impressions > 1000
''')

In [ ]:
df_performance = sql_to_df(sql)

In [ ]:
df_master = pd.merge(df_features, df_performance, how='inner', on='creative_id')
df_master.head(3)

## Performance Bucketing

In [ ]:
av_ctr_75 = df_master['av_ctr'].quantile(0.75)
av_ctr_75

In [ ]:
av_ctr_bucket = lambda x: 1 if x > av_ctr_75 else 0
df_master['high_perf'] = df_master['av_ctr'].apply(av_ctr_bucket)

# Analysis

## Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

df_raw = df_master.drop(columns=['creative_id', 'url', 'width', 'height', 'av_ctr'])
df_raw.reset_index(drop=True, inplace=True)

x = df_raw.loc[:, df_raw.columns != 'high_perf']
y = df_raw['high_perf']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2)

In [ ]:
rf = RandomForestClassifier(
    n_estimators=100,
    max_depth=5,
    max_features=30,
    min_samples_split=20,
    bootstrap=True,
    criterion='gini'
)

rf.fit(x_train, y_train.values.ravel())

In [ ]:
threshold = 0.5

y_train_pred = rf.predict_proba(x_train)
y_train_pred = (y_train_pred[:,1] > threshold).astype(int)
y_test_pred = rf.predict_proba(x_test)
y_test_pred = (y_test_pred[:,1] > threshold).astype(int)

print('Train Accuracy :', metrics.accuracy_score(y_train, y_train_pred))
print('Test Accuracy  :', metrics.accuracy_score(y_test, y_test_pred))

In [ ]:
feat_importances = pd.DataFrame(
    rf.feature_importances_,
    index=x_train.columns
).reset_index().sort_values(0, ascending=False)
feat_importances.columns = ['Feature', 'Importance']
feat_importances.reset_index(drop=True, inplace=True)

In [ ]:
feat_importances.head(40)

## Hypothesis Testing

In [ ]:
left = df_master[df_master['has_word_get'] == 0]
right = df_master[df_master['has_word_get'] > 0]

In [ ]:
display_sample(right)

In [ ]:
left['av_ctr'].describe()

In [ ]:
right['av_ctr'].describe()

In [ ]:
from scipy.stats import mannwhitneyu

mannwhitneyu(left['av_ctr'], right['av_ctr'], alternative='less')